<div class="container-card-event">
<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>

<ion-card class="card-event">
  <ion-list lines="none">
    <ion-item>
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
      </ion-thumbnail>
      <ion-label>Item</ion-label>
    </ion-item>
  </ion-list>  
</ion-card>
</div>