/*
.item-native {
    --padding-inline-start: 0px;
} */

.item-native {
    --padding-inline-start: 0px !important;
}

.container-card-event {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.card-event {
    width: 320px;
    max-width: 320px;
    margin: 8px;
}

@media screen and (max-width: 400px) {
    .container-card-event {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .card-event {
        margin: 8px;
        width: 340px;
    }
}


